{
    "server": {
        "port": 4040
    },
    "db": {
        "host": "scrumdog.sqlite",
        "database": "scrumdog",
        "username": null,
        "password": null,
        "dialect": "sqlite"
    }
}
