{
  "sessionSecret": "Use a useful secret",
  "db": {
    "host": "scrumdog.sqlite",
    "database": "scrumdog",
    "username": null,
    "password": null,
    "dialect": "sqlite"
  },
  "mustAuth": false,
}
