$navy: #14607F;
$skyblue: #74D6FF;
$steelgrey: #3A6B7F;
$midblue: #1F99CC;
$lightblue: #27BFFF;


body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: #444;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.user-list {
  margin-top: 60px;
}

.btn {
  border: none;
  background-color: $skyblue;
  color: white;
  border-radius: 4px;
  font-size: inherit;
  padding: 6px 12px;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  margin: 0 4px;
  outline: none;
}

.btn.alt {
  background: $midblue;
}

.btn.alt:hover, .btn.alt:focus {
  background: $steelgrey;
}

.btn:hover, .btn:focus {
  background-color: $lightblue;
}

.input {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: inherit;
  border: 1px solid #ddd;
}

.sidebar-wrapper {
  display: flex;
  width: 150%;
  transform: translateX(-16.667%);
  transition: transform 0.4s ease-in-out;
}

.sidebar-wrapper.show-left {
  transform: translateX(0);
}

.sidebar-wrapper.show-right {
  transform: translateX(-33.3%);
}

.sidebar-wrapper .sidebar {
  flex: 1;
}

.sidebar-wrapper .content {
  flex: 4;
}




#sidebar {
  /*todo - replace this with flex padding (is that a thing?)*/
  padding-right: 32px;
}

#sidebar .actions {
  margin: 2em 0;
}

#sidebar .actions button {
  border: none;
  background: $skyblue;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

#sidebar .actions button:hover, #sidebar .actions button:active {
  background: $lightblue;
}

#sidebar .actions button + button {
  margin-left: 8px;
}

#sidebar .standup-list {
  list-style-type: none;
  margin: 0 0 16px;
  padding: 0;
}

#sidebar .standup-list li {
  border-bottom: 1px solid #eee;
  line-height: 1.6em;
  cursor: pointer;
  border-radius: 8px;
  padding: 0 4px;
}

#sidebar .standup-list li:hover {
  background: #eee;
}

.sidebar-wrapper #sidebar.expand {
  flex: 1;
}

.sidebar-wrapper .content {
  flex: 4;
}

.sidebar-wrapper #checklist {
  transition: flex 0.3s ease-in-out;
  width: 0;
  flex: 0;
}

.sidebar-wrapper #checklist.expand {
  flex: 1;
}


#notes {
  padding-left: 32px;
}

#logo {
  font-weight: 200;
  text-align: right;
  color: $skyblue;
  margin: 0;
  position: absolute;
  top: 4px;
  right: 8px;
  font-size: 24px;
}

#header {
  font-weight: 200;
  font-size: 20px;
  border-bottom: 1px solid $skyblue;
  padding: 0 0 8px;
  margin: 0 0 16px;
  color: $steelgrey;
}

#header b {
  color: $midblue;
  cursor: pointer;
}

#header span {
  float: right;
}

body {
  padding: 20px;
  margin-top: 0; /*account for the header*/
}


.standup-list h2.active-standup {
  text-align: center;
  text-decoration: underline;
  color: $navy;
  font-weight: 400;
  margin: 0;
  cursor: pointer;
}

.standup-list-items .standup-list-item{
  text-align: center;
  color: $navy;
  line-height: 1.6em;
  cursor: pointer;
  font-size: 1.5rem;
}

.standup-list-item:hover {
  background-color: #fafaff;
}

.standup-list .standup-list-items {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  /* top: 0; */
}


.entries {
  margin: 0;
}

.entry {
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  align-items: stretch;
}

.entry.header {
  border-bottom: none;
}

.entry .entry-column.user {
  flex: 1;
}

.entry .entry-column.text {
  flex: 3;
  align-self: stretch;
  /* height: 100%; */
  /* justify-content: center; */
}

.entry .entry-column, .entry-header .entry-header-column {
  margin: 0 8px;
}


.entry .entry-column {
  height: 100%;
}

.entry.header .entry-column{
  height: auto;
  text-transform: uppercase;
  color: $midblue;
  padding-left: 8px;
  font-size: 17px;
}

.entry .entry-column.user {
  justify-content: center;
  align-self: center;
  display: flex;
  height: 100%;
}

.entry .entry-column.text,  {
  flex: 3;
}

.entry .entry-column.state {
  align-self: center;
  flex: 0.3;
}

.btn-entry-remove {
  background: none;
  opacity: 0;
  border: none;
  font-size: 1.6rem;
  transition: opacity 0.25s ease-in-out;
}

.entry-column textarea, #notes textarea {
  width: 100%;
  border: none;
  resize: none;
  height: 100%;
  padding: 8px;
  font: inherit;
  color: $navy;
  font-size: 1.8rem;
  font-weight: 200;
  line-height: 1.5em;
}

.entry-column textarea:empty {
  border: 1px dashed #ddd;
}

.entry-column textarea:focus {
  border: none;
  outline: none;
  background: #fafaff;
}


.user-icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: $skyblue;
  color: white;
  line-height: 60px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border: none;
  outline: none;
}

.user-icon:hover {
  background: $steelgrey;
}


/*.entries .entry:nth-child(5n+1) .user-icon { background: $navy; }
.entries .entry:nth-child(5n+2) .user-icon { background: $skyblue; }
.entries .entry:nth-child(5n+3) .user-icon { background: $lightblue; }
.entries .entry:nth-child(5n+4) .user-icon { background: $steelgrey; }
.entries .entry:nth-child(5n+5) .user-icon { background: $midblue; }
*/
.user-icon.add-user {
  background: #ccc;
}

.user-list .users{
 display: flex;
}

.user-list .users .user-icon {
  flex: none;
  margin: 0 10px;
  cursor: pointer;
}

.user-list .user-icon:first-child {
  margin-left: 0px;
}



.user-add-form {
  display: flex;
  align-items: center;
}

.user-add-form input {
  border-radius: 4px;
  border: none;
  border-bottom: 1px solid #eee;
  margin: 0 10px;
  font-size: inherit;
  outline: none;
}

.user-add-form input:first-child {
  margin-left: 0;
}


.entry-wrapper {
  display: flex;
  width: 100%;
  line-height: 2em;
}

.entry-wrapper .entry-column {
  flex: 1;
  margin: 0 16px;
}

.entry-wrapper .entry-column textarea {
  border: 1px solid skyblue;
  border-radius: 3px;
  width: 100%;
}

.entry-column.entry-name {
  font-weight: 600;
}


.entry-wrapper.header {
  color: skyblue;
  font-weight: 600;
  margin-bottom: 1em;
}

.entry-wrapper.header .entry-column {

}

#notes textarea {
  display: block;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 8px;
  width: 100%;
  margin: 24px 0;
  resize: none;
}

#notes button {
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 2px;
}

#notes button.dirty {
  background: #fdd;
}



/* teams */

.teams {

  h2 {
    color: $midblue;
    margin: 0 0 32px;
  }


  .teams-list {
    margin: 0 0 48px;
  }

  .btn-show-add {
    color: $midblue;

    &:hover {
      text-decoration: underline;
    }

  }

  .form-add-team {
    margin: 16px 0;
  }
}

.team-list-item {
  border-bottom: 1px solid #ddd;
  margin: 0 0 16px;

  header {
    display: flex;
    align-items: center;
  }

  .team-list-item__name {
    color: $steelgrey;
    font-size: 20px;
    width: 100%;
    padding: 0 0 8px;

    &:hover {
      color: $midblue;
    }
  }

  .btn-edit {
    flex: 0;
    padding: 12px;
    &:hover {
      color: #333;
    }
  }

}

.team-list-item__detail {
  margin: 16px;
}

.loader-wrapper {
  height: 100px;
  margin-top: 80px;
}
.loader-wrapper.tiny {
  height: 15px;
  margin: 0;
}
.loader,
.loader:before,
.loader:after {
  background: skyblue;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader {
  text-indent: -9999em;
  margin: 0 auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader-wrapper.tiny .loader {
  font-size: 3px;
}

.user-add-form .loader-wrapper {
  margin-left: 14px;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 skyblue;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em skyblue;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0 skyblue;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em skyblue;
    height: 5em;
  }
}
